* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pixel Font', sans-serif;
    background-color: #1a1a1a;
}

/*header*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background: linear-gradient(90deg, #000000, hsl(2, 100%, 50%)); 
    height: 80px;
}

.logo {
    width: 90px;
    height: auto;
}

h1 {
    font-family: 'PixelFont', monospace;
    font-size: 36px; 
    color: #ffffff; 
    margin-left: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05); 
}

nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.4);
}

/*Игры*/

.main-section {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    border-bottom: 2px solid hsl(2, 100%, 50%);
}

.games-section {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 15px;
    color: #ffffff;
    text-align: center; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.games-section h2 {
    text-align: center;
    font-size: 32px;
    color: hsl(2, 100%, 50%);
    margin-bottom: 10px;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.game-card {
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid hsl(2, 100%, 50%);;
}

.game-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.game-screenshot {
    width: 100%;
    height: auto;
}

.game-info {
    padding: 15px;
}

.game-icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.game-title {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

.game-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.game-status {
    display: inline-block;
    padding: 5px 10px;
    background-color: hsl(2, 100%, 50%);
    color: white;
    border-radius: 5px; 
}

.links-section {
    background-color: #e0e0e0; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.services-section {
    background-color: #e0e0e0; 
    border-radius: 10px;
    padding: 20px;
    margin-right: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.links-section h3, .services-section h3 {
    font-size: 24px; 
    color: hsl(2, 100%, 50%); 
    margin-bottom: 15px; 
    text-align: center; 
}

.links-section ul{
    list-style-type: none; 
    padding: 0; 
}

.services-section ul {
    padding-left: 10px;
}

.links-section li, .services-section li {
    margin-bottom: 10px; 
}

.links-section a {
    text-decoration: none;
    color: #333; 
    padding: 10px; 
    display: block; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.links-section a:hover {
    background-color: hsl(2, 100%, 50%); 
    color: white; 
}

.games-container-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
}

.scroll-button {
    background-color: hsl(2, 100%, 50%);
    color: white;
    border: none;
    border-radius: 8px;
    width: 35px; 
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: hsl(2, 80%, 50%);
}

.links-section a i, .services-section i {
    margin-right: 8px; 
    font-size: 20px; 
}

/*О нас и блог*/

.info-section{
    padding: 20px;
}

.about-section {
    background-color: #121212;
    color: #ffffff;
    text-align: center; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 25%;
    padding: 20px;
    border: 2px solid hsl(2, 100%, 50%);
}

.blog-section {
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
    border-radius: 8px; 
    width: 75%;
}

.about-section h2 {
    font-size: 32px;
    color: hsl(2, 100%, 50%);
    margin-bottom: 20px;
}

.about-section p, .games-section p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-blog-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.blog-section h2 {
    font-size: 32px;
    color: hsl(2, 100%, 50%);
    margin-bottom: 20px;
}

.blog-posts {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}

.blog-post {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 15px; 
}

.post-title {
    font-size: 20px; 
    margin-bottom: 10px;
}

.post-excerpt {
    font-size: 14px; 
    color: #dddddd;
    margin-bottom: 10px; 
}

.read-more {
    color: #ff4500; 
    text-decoration: none; 
}

.read-more:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    
    .scroll-button {
        width: 20px; 
    }
    .hiden{
        display: none;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    h1 {
        font-size: 28px;
        margin-left: 0;
        text-align: center;
        margin-top: 10px; 
        margin-bottom: 10px;
    }

    nav ul {
        text-align: center; 
        margin-top: 10px; 
        margin-bottom: 10px;
    }

    .main-section {
        flex-direction: column; 
        padding: 20px;
        border-bottom-width: 1px; 
        border-bottom-style: solid; 
        border-bottom-color: hsl(2, 100%, 50%); 
        gap: 20px; 
    }

    .about-section {
        margin-left: 0px;
        width: 100%;
        margin-right: 0; 
        padding-left: 10px; 
        padding-right: 10px; 
        box-shadow:none;
        margin-top :10px; 
    }
    
    .blog-section,
    .services-section,
    .links-section {
        width: 100%;
        margin-right: 0; 
        padding-left: 10px; 
        padding-right: 10px; 
        box-shadow:none;
        margin-top :10px; 
     }

     .games-container-wrapper {
         flex-direction : column;
         align-items : center; 
     }

     .game-card {
         width : calc(100% - 40px); 
         max-width :300px;
     }
}